.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  width: 200px;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #ff6b6b;
}


/* =========================> CARRUSEL <========================== */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 16));
  }
}
.slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 57vh;
  margin: 16.7vw;
  padding-top: 0%;
  overflow: hidden;
  position: absolute;
  width: 82.45%;
  border: solid lime 2px;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgb(24, 52, 211),
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 450px;
  position: absolute;
  width: 300px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .con {
  padding: 10px;
}
.slider .slide_track {
  animation: scroll 35s linear infinite;
  display: flex;
  width: calc(250px * 16);
}
.slider .slide {
  height: 430px;
  width: 430px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider :is(#img1, #img11) {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 48, 202, 0.753),
      rgba(0, 0, 255, 0.199)
    ),
    url("./assets/balon\ terapia.jpg");
}
.slider :is(#img2, #img22) {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 48, 202, 0.753),
      rgba(0, 0, 255, 0.199)
    ),
    url("./assets/banco\ pesas\ sencillo.jpg");
}
.slider :is(#img3, #img33) {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 48, 202, 0.753),
      rgba(0, 0, 255, 0.199)
    ),
    url("./assets/camibuso\ verde.jpg");
}
.slider :is(#img4, #img44) {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 48, 202, 0.753),
      rgba(0, 0, 255, 0.199)
    ),
    url("./assets/cinturon.jpg");
}
.slider :is(#img5, #img55) {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 48, 202, 0.753),
      rgba(0, 0, 255, 0.199)
    ),
    url("./assets/correr\ salud.jpg");
}
.slider :is(#img6, #img66) {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 48, 202, 0.753),
      rgba(0, 0, 255, 0.199)
    ),
    url("./assets/guantes\ sencillos.jpg");
}
.slider :is(#img7, #img77) {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 48, 202, 0.753),
      rgba(0, 0, 255, 0.199)
    ),
    url("./assets/kit\ deportivo\ casero.jpg");
}
.slider :is(#img8, #img88) {
  background-image: linear-gradient(
      to bottom,
      rgba(20, 48, 202, 0.753),
      rgba(0, 0, 255, 0.199)
    ),
    url("./assets/kit\ mixtas.jpg");
}
:is(#img2, #img22, #img3, #img33, #img4, #img44, #img8, #img88) img {
  width: 50%;
  height: 55%;
}
.slider img {
  width: 50%;
  height: 55%;
}
/* ========================> FIN CARRUSEL <========================== */

/* .menu {

} */